* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  color: #eee;
  background-color: #333;
}
body {
  background-color: #333;
  min-height: 100vh;
  padding-bottom: 4rem;
}
header,
main,
footer {
  padding: 1rem 2rem;
}
h1 {
  color: orange;
  font-size: 3.6rem;
  font-weight: 700;
}
h2 {
  color: orangered;
  font-size: 2.4rem;
  font-weight: 700;
}
p {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 1rem 0;
}
li {
  list-style-position: inside;
  margin-left: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
}
form {
  padding: 1rem 1rem;
}
fieldset {
  padding: 1rem;
}
form p {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1rem 0;
}
label {
  font-size: 1rem;
}
input[type='text'] {
  padding: 0.2rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  width: 30ch;
}
input[type='checkbox'] {
  font-size: 1rem;
  line-height: 1.5;
  height: 1.5rem;
  width: 1.5rem;
}
button {
  padding: 0.2rem 2rem;
  margin: 1rem 0;
  font-size: 1.2rem;
  border: none;
  color: white;
  background-color: cornflowerblue;
}
.highlighted {
  color: #333;
  background-color: gold;
}
